.next {
       max-width: 50px; 
       margin-right: 0;
       margin-left: auto;
       display: block;
       float: right;
}

.prev {
        max-width: 50px;
        margin-left: 0;
        margin-right: auto;
}

.page-li {
    background-color: rgb(253, 253, 253); /* Green */
    border: 1px solid black;
    color: rgb(5, 4, 4);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.page-li:hover {
    color: black;
    box-shadow: 1px 1px grey, -1px -1px grey; 
}