@charset "UTF-8";

/* light theme color */
$light-background: rgb(252, 252, 252);
$light-background-secondary: #eaeaea;
$light-color: #0d0d0e;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* fonts */
$font-body: 'Merriweather', serif;
$font-header: 'Roboto', sans-serif; 
$primary-color: rgb(10, 10, 10);