{{ define "main" }}
    <main class="posts" aria-role="main">
            {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
            <ul class="posts-list">
                {{- range $pag.Pages }}
                    <li class="post-item">
                        <a href="{{.Permalink}}">
                            <span class="post-title">{{.Title}}</span>
                            <span class="post-day">{{ if .Site.Params.dateformShort }}{{ .Date.Format .Site.Params.dateformShort }}{{ else }}{{ .Date.Format "Jan 2"}}{{ end }}</span>
                        </a>
                    </li>
                {{- end }}
            </ul>

            {{ if gt $pag.TotalPages 1 }}
            <span class="prev{{ if not $pag.HasPrev }} disabled {{ end }}">
                <a {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}"{{ end }} class="page-li prev" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </span>
            <span class="next {{ if not $pag.HasNext }} disabled {{ end }}">
                <a {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}"{{ end }} class="page-li next" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            </span>
            {{end}}
    </main>
{{ end }}